@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=EB+Garamond:ital@0;1&display=swap');

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1.25rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1.25rem; /* gutter size */
  background-clip: padding-box;
}

.tl-edges {
  overflow: unset;
}
